In [23]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Baca dataset
data = pd.read_csv('Market_Basket_Optimisation.csv', header=None)

In [25]:
# Menampilkan beberapa baris pertama dataset
print(data.head())

              0          1           2                 3             4   \
0         shrimp    almonds     avocado    vegetables mix  green grapes
1        burgers  meatballs        eggs               NaN           NaN
2        chutney        NaN         NaN               NaN           NaN
3         turkey    avocado         NaN               NaN           NaN
4  mineral water       milk  energy bar  whole wheat rice     green tea

                 5     6               7             8             9   \
0  whole weat flour  yams  cottage cheese  energy drink  tomato juice
1               NaN   NaN             NaN           NaN           NaN
2               NaN   NaN             NaN           NaN           NaN
3               NaN   NaN             NaN           NaN           NaN
4               NaN   NaN             NaN           NaN           NaN

               10         11     12     13             14      15  \
0  low fat yogurt  green tea  honey  salad  mineral water  salmon
1             NaN        NaN    NaN    NaN            NaN     NaN
2             NaN        NaN    NaN    NaN            NaN     NaN
3             NaN        NaN    NaN    NaN            NaN     NaN
4             NaN        NaN    NaN    NaN            NaN     NaN

                  16               17       18         19
0  antioxydant juice  frozen smoothie  spinach  olive oil
1                NaN              NaN      NaN        NaN
2                NaN              NaN      NaN        NaN
3                NaN              NaN      NaN        NaN
4                NaN              NaN      NaN        NaN

In [26]:
# Preprocessing dataset terlebih dahulu
transactions = []
for i in range(len(data)):
    transactions.append([str(data.values[i, j]) for j in range(len(data.columns))])

In [27]:
# Membuat objek Transaction Encoder
te = TransactionEncoder()

In [28]:
# Fit dan transformasikan data akan di transaksi menggunakan TransactionEncoder
te_ary = te.fit_transform(transactions)

In [29]:
# Mengubah array hasil encoding menjadi DataFrame
df = pd.DataFrame(te_ary, columns=te.columns_)

In [30]:
# Menerapkan algoritma Apriori
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

In [31]:
# Menghasilkan aturan asosiasi
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [32]:
# Memperoleh aturan asosiasi unggulan berdasarkan confidence dan lift
top_rules = rules.nlargest(10, ['confidence', 'lift'])

In [33]:
# Menampilkan aturan asosiasi unggulan
print(top_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

         antecedents consequents   support  confidence      lift
3   (barbecue sauce)       (nan)  0.010799         1.0  1.000133
4        (black tea)       (nan)  0.014265         1.0  1.000133
6       (body spray)       (nan)  0.011465         1.0  1.000133
8         (brownies)       (nan)  0.033729         1.0  1.000133
28         (burgers)       (nan)  0.087188         1.0  1.000133
37          (butter)       (nan)  0.030129         1.0  1.000133
53            (cake)       (nan)  0.081056         1.0  1.000133
59         (carrots)       (nan)  0.015331         1.0  1.000133
63         (cereals)       (nan)  0.025730         1.0  1.000133
67       (champagne)       (nan)  0.046794         1.0  1.000133